<% if session[:user].present? -%>
  Halo <%= session[:user]['info']["name"] -%>,
  <%= link_to "Logout",  logout_path, method: :delete %>
<% else -%>
  <%= link_to "Login facebook", user_omniauth_authorize_path(:facebook) %>
<% end -%> 